body {
  display: flex;
  flex-direction: column;
  background-color: #e9fee9;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.navbar-custom {
  font-family: "Ledger", serif;
  background-color: #e9fee9;
  color: #444242;
  font-size: 24px;
  padding-right: 0;
  position: sticky;
  top: 0;
  overflow: hidden;
  position: -webkit-sticky;
  z-index: 1;
}

.logo {
  height: auto;
  max-width: 100%;
  padding: 5%;
}

.cat-banner-container img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.nydalen-clinic {
  position: absolute;
  left: 70%;
  top: 35%;
  width: 50%;
  transform: translate(-50%);

  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  color: rgba(68, 66, 66, 1);
  text-transform: uppercase;
  font-size: 5vw;
  font-family: "Ledger";
  background-color: rgba(233, 254, 233, 0.35);
}

.logo {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.cat-banner {
  max-width: auto;
  height: auto;
}

.find-clinic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 50vh;
  padding: 5%;
  box-sizing: border-box;
}

.find-clinic p {
  color: rgba(68, 66, 66, 1);
  text-transform: uppercase;
  font-size: 5vw;
  font-family: "Ledger", serif;
  background-color: rgba(233, 254, 233, 0.35);
  padding: 10px;
  box-sizing: border-box;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}

.left-side p {
  color: rgba(68, 66, 66, 1);
  font-family: "Ledger", serif;
  font-size: 36px;
  margin-bottom: 20px;
}

.button-location {
  margin-top: 10px;
  padding: 10px 20px;
  color: #444242;
  background-color: rgb(217, 255, 217);
  font-size: 18px;
  font-family: "Ledger", serif;
  font-weight: 400;
  border: none;
}

.button-location:hover {
  background-color: rgba(68, 66, 66, 1);
  color: rgba(233, 254, 233);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .nydalen-clinic {
    font-size: 6vw;
    width: 90%;
    text-align: right;
  }

  .find-clinic {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left-side {
    align-items: center;
    text-align: center;
  }

  .button-location {
    margin-top: 10px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .nydalen-clinic {
    font-size: 7vw;
    top: 30%;
  }

  .button-location {
    font-size: 14px;
    padding: 8px 15px;
  }
}

footer {
  text-align: center;
  height: 50px;
  background-color: #444242;
  color: #e9fee9;
  line-height: 50px;
  font-family: "Ledger", serif;
}
