body {
  display: flex;
  flex-direction: column;
  background-color: #e9fee9;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.navbar-custom {
  font-family: "Ledger", serif;
  background-color: #e9fee9;
  color: #444242;
  font-size: 24px;
  padding-right: 0;
}

.nydalen-clinic {
  position: absolute;
  left: 750px;
  top: 200px;
  padding-left: 5px;
  padding-right: 5px;
  height: 257px;
  display: flex;
  color: rgba(68, 66, 66, 1);
  text-transform: uppercase;
  font-size: 72px;
  font-family: "Ledger";
  font-style: normal;
  font-weight: 400;
  background-color: rgba(233, 254, 233, 0.35);
}

.logo {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.cat-banner {
  max-width: 1280px;
  height: auto;
}

.find-clinic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 50vh; /* Optional: Adjust the minimum height */
  padding: 5%; /* Spacing around the content */
  box-sizing: border-box; /* Include padding in width calculation */
}
.find-clinic p {
  color: rgba(68, 66, 66, 1);
  text-transform: uppercase;
  font-size: 36px;
  font-family: "Ledger", serif;
  font-style: normal;
  font-weight: 400;
  flex: 1;
  padding-left: 5%;
  margin: 0; /* Remove default margins for the paragraph */
}
#mapimg {
  flex: 1; /* Allow map image to grow and fill space */
  max-width: 50%; /* Restrict image to half of the width */
  height: auto; /* Maintain aspect ratio */
}

.find-clinic {
  display: flex;
}

.button-location {
  padding: 3%;
  border: none;
  color: #444242;
  background-color: rgb(217, 255, 217);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Ledger", serif;
  font-style: normal;
  font-weight: 400;
}

.button-location:hover {
  background-color: rgba(68, 66, 66, 1); /* Green */
  color: rgba(233, 254, 233);
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
